<h1>Song Index</h1>

<div>
  <% @songs.each do |song| %>

  <p><%= song.artist_name if song.artist %> - <%= link_to song.title, song_path(song) %></p>
  <p><%= link_to(song.artist_name if song.artist + "-" + song.title, :controller => 'songs', :action => 'show', id: =>song.id) %></p>
  <% end %>

</div>


<!-- expect(page).to have_link("Daft Punk - The Grid", href: song_path(@song)) -->
